#post {
  display: inline-block;
  border: black;
  border-style: solid;
  margin: 15px;
}

body {
  margin: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}